<!DOCTYPE>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Station</title>
        <!-- Optinal CSS first, then Bootstrap -->
        <link rel = "Stylesheet" href = "original_game.css">
    </head>
    
  <body>
    <div class = "background station_body">
      <img src = "../photos/merin.png" id = "merin">
      <img src = "../photos/nu.png" id = "opponent">
      <div id = "menu">
        <a href = "station_battle.html">
          <ul>
            <li>Nu there!</li>
            <li>Win him to get some items!</li>
          </ul>
        </a>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <script>
        
        
    </script>
    
  </body>
</html>